section.fundo{
    height: 450px;             
}
.cx-esquerda-remoney{
    height: 450px; 
    color: #707175;           
}
.cx-direita-remoney{
    height: 450px;
    color: white;
    background-color: #73C72B;
    border: 1px solid #73C72B;
    border-radius: .25rem;
    /* background-image: url("../images/quadro-remoney.png");
    background-size: 700px 500px;
    background-position: center; 
    background-repeat: no-repeat; */
}
.infoRemoney h3{
    margin-left: 230px;
}
.cx-esquerda{
    height: 450px; 
    color: #707175;           
}
.cx-direita{
    height: 450px;
    background-image: url("../images/fundo-home.png");
    background-size: 700px 500px;
    background-position: center; 
    background-repeat: no-repeat;
}
.conteudo-texto{
    margin-top: 90px;
}
.conteudo-texto-remoney{
    margin-top: 40px;
}
.destaque{
    color: #73C72B;
    font-weight: bold;
}
.comece{
     width: 140px;    
}
.btn-success{
    background-color: #73C72B;
    border: none;
}
.quadro-direita-remoney{
    background-color: #73C72B;
}

/* footer{
    height: 100px;
    background-color: #73C72B;
    display: flex;
    margin: 0 auto;
} */
.jumbotron{
    background-color: #73C72B;
}
.jumbotron .container{    
    margin-left: 450px;
}
.card-body img{
    margin-left: 30px;
}
.card-body a{
    margin-left: 100px;
}
footer {
 
    background-color: #73C72B;
    bottom:0;
    width:100%;
}
.footer-copyright p{
    padding-left: 47px;    
    padding-top: 25px;
    color: white;
}
.footer-social{    
    /* margin-right: 1px; */
}
.img-money{
    width: 170px; /* 295*/
    height: 96px;/* 190*/
}
.img-remoney{
    width: 104px;
    height: 155px;    
}
.itensMenu{
  margin-left: 420px;
  position: relative;           
}       
.button{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    background-color:#7DB843;      
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
   }

   .form_login{
    padding-top: 115px;
   }

   .texto_blog{
    padding-top: 115px    
   }

   

   .textoBlog{
       margin-top: 80px;
   }

   .posts{
    margin-top: 80px;
    border-radius: 25px;
   }
   .contato{
    background-color: #7DB843;
    margin-top: 70px;
    border-radius: 25px;
    border: 10px solid white;
    margin-bottom: 102%;  
   }

   .tituloForm{
    padding-top: 20px;
    text-align: center;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
   }
  
   .subtitulo{
    padding-top: 5px;
    text-align: center;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white; 
   }

   .form_contato{
    padding-top: 5px;     
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
   }
  contato.form-group{
    margin-bottom: -1rem;
   }
   .botao_contato{
    padding-top: 34px;
   }
   .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-radius: 25px;

}
.col-auto. img-fluid {
    width: 170px;
    height: 119px;   
} 
    