.home-page{
    background-image: url('../images/fundo2-home.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    right: 0;
    text-align: right;
    max-width: 100%;
}
.fundo{
    background-image: url('../images/AdobeStock_101394950.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.detalhe-produto{
    margin-top: 25px;
}
section.fundo{   
    height: 482px;             
}
section.fundo-login{
    height: 482px;    
    padding: 30px;         
}
.cx-esquerda-remoney{
    height: 450px; 
    color: #707175;           
}
.cx-direita-remoney{
    margin-bottom: 16px;  
    height: 74vh;
    color: black;   
    padding: 70px;    
}
.infoRemoney {
    margin-left: 30px;
    color: #707175;   
    text-align: justify; 
}
.img-dinheiro{
    align-items: center;
}
.cx-esquerda{
    height: 450px; 
    color: #707175;           
}
.cx-direita{
    height: 450px;
    background-image: url("../images/fundo-home.png");
    background-size: 700px 500px;
    background-position: center; 
    background-repeat: no-repeat;
}
.conteudo-texto{
    margin-top: 20px;
}

.conteudo-texto-remoney{
    margin-top: 40px;
}
.destaque{
    color: #73C72B;
    font-weight: bold;
}
.comece{
     width: 140px;    
}
.btn-success{
    background-color: #73C72B;
    border: none;
}
.quadro-direita-remoney{
    background-color: #73C72B;
}
.jumbotron{
    background-color: #73C72B;
}
.jumbotron .container{
    text-align: center;    
    /* margin-left: 450px; */
}
.card-body img{
    margin-left: 30px;
}
.card-body a{
    margin-left: 100px;
}
footer { 
    background-color: #73C72B;
    bottom:0;
    width:100%;
}
.footer-copyright p{
    padding-left: 47px;    
    padding-top: 25px;
    color: white;
}
.footer-social{    
    /* margin-right: 1px; */
}
.img-money{
    width: 170px; /* 295*/
    height: 96px;/* 190*/
}
.img-remoney{
    width: 105px;
    height: 142px;    
}
.itensMenu{
  position: relative;           
}       
.button{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    background-color:#7DB843;      
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
   }

   .form_login{
    padding-top: 115px;
   }

   .texto_blog{
    padding-top: 115px    
   } 

   .textoBlog{
       margin-top: 80px;
   }

   .posts{
    margin-top: 80px;
    border-radius: 25px;
   }
   .contato{
    background-color: #7DB843;
    margin-top: 70px;
    border-radius: 25px;
    border: 10px solid white;
    margin-bottom: 102%;  
   }

   .tituloForm{
    padding-top: 20px;
    text-align: center;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
   }
  
   .subtitulo{
    padding-top: 5px;
    text-align: center;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white; 
   }

   .form_contato{
    padding-top: 5px;     
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
   }
  contato.form-group{
    margin-bottom: -1rem;
   }
   
   .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-radius: 25px;

}
.col-auto .img-fluid {
    width: 170px;
    height: 119px;   
} 
.cx-esquerda-sobre{
    display: flex;
    
}
.destaqueSobre{
    font-weight: bold; 
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.p-sobre{
    /* width:400px; */
    color: white;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}
.cx-esquerda-sobre{
    height: 450px; 
    
}

.fundo-texto-sobre{
    padding-top: 52px;
    /* background-color:#80808075; */
    width: 450px;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 64px;
    top: 23%;
    position: relative;
}

.formulario{
    width: 380px;
    max-width: 100%;
    margin: 0 auto; // centraliza div
}

.navbar-expand-lg{
    justify-content: space-between;
}
.imagem_fundo_contato{
    background-image: url('../images/bg-contato.jpg');
    background-size: 1400px;     
}

.form_contato1{
    padding-top: 5px;  
}

.botao_contato{
    padding-bottom: 74px;
    padding-top: 27px;
}
.ladoDireito{
    padding-top: 52px;
    width: 380px;
    max-width: 100%;
    margin: 0 auto;
}

.ladoEsquerdo{
    padding-top: 213px;
    text-align: center;
    width: 380px;
    max-width: 100%;
    margin: 0 auto;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}

#faixa{
    display: none;
    background-color: #73C72B;
    color: white;
}
#faixa ul{
    list-style-type: none;
}
